@keyframes fade-in-out {
  from { opacity: 0; }
}

@font-face {
  font-family: helveticaNeueCondensed;
  src: url('https://www.treesnetwork.com/fonts/HelveticaNeue-CondensedBold.ttf');
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

@import "../../scss/player";
